/build
/build_*_*
/.sconsign*.dblite
/aeryntests/.sconsign
/extras/testrunner2/.sconsign
/include/aeryn/.sconsign
/include/aeryn/details/.sconsign
/src/.sconsign

*.slo
*.lo
*.o

*.so
*.dylib

*.lai
*.la
*.a

local.build.options
